*.img
*.iso
*.gir
*.typelib
*.lo
*.so.*
*.so
.libs/
build-*/
build-Desktop*/
cmake-build-*/
resource/
__pycache__/
venv/
.idea/
target/
node_modules/

*.py[cod]
*$py.class
*.log
*.so
*.o
*.po
*.run
*.ko
*.cmd
*.db
module/\.*
*.mod
*.class
*.user
